@import "bootstrap-sprockets";
@import "bootstrap";

/* universal */

body {
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px;
  margin-right: 100px;
  margin-left: 100px;
}

header[role="banner"] {
  text-align: center;
  vertical-align:middle;
  float: none;
  display: inline;
  #logo-main {
  display: block;
  margin: 20px auto;

  text-align: center;
  vertical-align:middle;
  }
}

.nav .navbar-nav { 
  width: 100%;
  float: none; 
  display:inline;
  }
.nav .navbar-nav li {
  display:inline-block;
  float:none;
  margin:0 20px;
  vertical-align:middle;
  }
  .nav .navbar-nav  a {
    padding-left: 30px;
    padding-right: 30px;
    display: inline;
    }
 

.navbar-brand img {
  height: 80px;
  width: 350px;
  float: center;
}


section {
  overflow: auto;
  margin-right: 100px;
  margin-left: 100px;
}

textarea {
  resize: vertical;
  margin-right: 100px;
  margin-left: 100px;
}

.view {
  text-align: center;
  margin-top:  0;
  padding: 0;
  margin-right: 100px;
  margin-left: 100px;
}

.center h1 {
  margin-bottom: 10px;
  margin-right: 100px;
  margin-left: 100px;
}


.sign_image {

  padding: .0em;
  margin: .30em;
  float: left;
  width: 180px;
  height:180px;
  border-radius: 0px 0px;

}

.sign_image_2 img{
  width: 442px;
  height: 298px;
  float: center;
  margin: 0;
  padding: 0;
}
.sign_image img {
  width: 175px;
}